*, ::after, ::before {
    box-sizing: border-box;
}

.bg-dark {
    background-color: #343a40!important;
}

body {
    margin: 0px;
    font-family:Georgia, 'Times New Roman', Times, serif ;
    font-size: 1rem;
    font-weight: 400;
    width: 87vw;
    line-height: 1.5;
    background-color: rgba(204, 204, 204, 0.726);
    background: url('../../assets/images/BlueNile.jpg') no-repeat center center fixed;
    background-size: cover;
    min-height: 100vh;     
} 
   
img {
    padding: .25rem;
    margin: 10px auto;
    background-color:bg-light;
    max-width: 100%;
    height: 350px;
    vertical-align: middle;
    border-style: none;
    box-shadow: 5px 10px 8px #888888, -5px -10px 8px #888888;

}

.my-port {
    padding: 20px;
    margin: 40px 60px 30px 20px;
   /* background-color: #F5DEB3; */
    background-color: rgb(231, 219, 216);
    max-width: 900px;
    width: 107%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
  .wea {
    width: 80%;
    display: flex;
}
.btn{
    margin: 5px;
    border-radius: 15px;

}

h2 {
    color: lightseagreen;
    font-family: serif;
    padding: 10px;
    font-size: 40px;
}
img:hover {
    box-shadow: 5px 10px 8px rgb(225, 128, 10), -5px -10px 8px rgb(225, 128, 10);
}


@media screen and (max-width:425px) {
        .my-port {
        position: static;
        display: block;
        width: 116%;
        margin-top: 15px;
        margin-bottom: 15px;
        margin-left: 10px;
        margin-right:5px;
    }
}
