header {
    font-family: 'Shippori Mincho', serif;
}

.portfolio-header {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-image: src=("..assets/images/BlueNile.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    text-align: center;
    margin: auto;
    padding: 0;
    padding: 2rem 0;
    color: whitesmoke;
    font-family: 'Shippori Mincho', serif;
}
.portfolio-header-h1 {
    color:white;
    background-color: rgb(90, 134, 228);
    width: 80vh;
    height: 60vh;
    padding: 20px;
    margin-top: 1px;
    text-align: center;
}

.portfolio-header-menu {
    list-style-type: none;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0;
    color: white;
}

.portfolio-header-menu li {
    margin: 1.25rem;
}

.portfolio-header-menu li a {
    padding-left: 1.875rem;
    padding-right: 1.875rem;
}

a.button{
    color: white;
    padding: 20px;
    border: 2px solid white; 
    background-color: rgb(83, 109, 223);
    border-radius: 8px;
    font-family:'Shippori Mincho', serif;
}
body{
    background-color: black;
}

@media screen and (max-width:425px){
    .portfolio-header-menu li a {
        display: block;
        flex-direction: column;
    }
    
    .portfolio-header-h1{
        width: 122%;
        margin-top: -14px;
        margin-bottom: 3px;
        margin-left: 30px;
        margin-right: 30px;
    }
}